@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i');

/* General */
a,
p,
div,
span,
h1,
h2,
h3,
h4 {
    font-family: "Roboto", sans-serif;
}

body {
    background-image: url('../images/background.png');
    background-color: #cccccc;    
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
}

.nav-link--item {
color:#000000;
font-weight: 600;
padding-right: .5rem;
padding-left: .5rem;
display: block;
padding: .5rem 1rem;
}
/* .home-banner__image {
max-width: 100%;
height: auto;
} */